.container{
    display: grid;
    grid-template-columns: repeat(6, 4fr);
    grid-template-rows: repeat(14, 1fr);
    gap:3px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    grid-column: 1 / 7;
    grid-row: 1 / 2; 
    background-color: darkolivegreen;
    color: white;    
}
.main-content{
    grid-column: 1 / 7;
    grid-row: 2 / 12;
    display: grid;
    grid-template-columns: repeat(6, 4fr);
    /* grid-template-rows: repeat(11, 1fr); */
    background-color: dimgray;
    gap: 3px;
}
.header, .main-content{
    padding-left: 2rem;
}
h1, .left-navbar{
    padding-top: 1rem;
}
.left-navbar{
    grid-column: 1 / 2;
}
.detailed-content{
    grid-column: 2 / 7;
    background-color: rgb(56, 54, 88);
}
.footer{
    grid-column: 1 / 7;
    grid-row: 12 / 14;
    background-color: rgb(35, 58, 128);
    color: white;
    display: grid;
    justify-content: center;    
}
.footer p{
    padding-top: 5rem;
}
.main-content{
    color: black;
    font-weight: bold;
}
li{
    list-style-type: square;
}